
ol.posts
  for post in posts
    li
      h2
        a(href='/blog/'+post.name)!= post.title
        span.meta!= 'Posted: ' + post.date.toYMD()
        span.meta Author:&nbsp;
          a(href='http://twitter.com/mzsanford') @mzsanford
      div!= post.snippet