doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  title Matt Sanford
  subtitle Blog posts on a variety of topics
  link(rel="alternate", type="text/html", hreflang="en", href='http://mzsanford.com/blog')
  link(rel='self', href='http://mzsanford.com/feed.atom')
  updated= dateFormat(posts[0].date, "isoDateTime") + 'Z'
  id http://mzsanford.com/blog
  author
    name Matt Sanford
    uri http://mzsanford.com

  each post in posts
    entry
      title= post.title
      published= dateFormat(post.date, "isoDateTime") + 'Z'
      updated= dateFormat(post.date, "isoDateTime") + 'Z'
      link(href = 'http://mzsanford.com/blog/' + post.name)
      id= 'http://mzsanford.com/blog/' + post.name
      content(type='html')= post.snippet
      
