nav
  ol
    li
      a(href='/blog') Blog
    li
      a(href='https://github.com/mzsanford') Github
    li
      a(href='http://twitter.com/mzsanford') Twitter
    li
      a(href='http://www.flickr.com/photos/mzsanford/') Flickr
    li
      a(href='http://www.linkedin.com/in/mzsanford') LinkedIn
    li
      a(href='http://www.facebook.com/mzsanford') Facebook