div.header
  h1.title= title
  h2.description Available by prescription only
div#contents
  div.menu
    ol
      li
        a(href='/') Home
        a(href='/blog') Blog
        a(href='https://github.com/mzsanford') Github
        a(href='http://twitter.com/mzsanford') Twitter
        a(href='http://www.flickr.com/photos/mzsanford/') Flickr
        a(href='http://www.linkedin.com/in/mzsanford') LinkedIn
        a(href='http://www.facebook.com/mzsanford') Facebook
  div#footer
    span.copy &copy; #{1900+(new Date().getYear())} Matt Sanford
    span.contact Contact:
      a(href='http://twitter.com/mzsanford') @mzsanford