!!! 5
html(lang="en")
  head
    title="Matt Sanford"
    link(href='http://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz:200', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7956475-1']);
      _gaq.push(['_setDomainName', 'mzsanford.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(class=bodyClass)
    header
      h1
        a(href='/') Matt Sanford
      h2 Available by prescription only
    div#contents!= body
    footer
      span.copy &copy; #{1900+(new Date().getYear())} Matt Sanford
      span.contact Contact:
        a(href='http://twitter.com/mzsanford') @mzsanford