<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/type.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz:200" type="text/css" />

    </head>
    <body class="{{ page.body_classes }}">

        <div class="container">
          <div class="site">
            <header>
              <h1><a href="http://mzsanford.com">Matt Sanford</a></h1>
              <h2>Available by prescription only</h2>
            </header>

            {{ content }}

            <footer>
              <span class="copy">&copy; 2013 Matt Sanford</span>
              <span class="contact">Contact: <a href="https://twitter.com/mzsanford">@mzsanford</a></span>
            </footer>
          </div>
        </div> <!-- /container -->

    </body>
</html>
