---
layout: default
body_classes: long-form blog-post
---

<div id="contents">
  {% if page.tags != empty %}
    <div>
      file under:
    {% for tag in page.tags %}
      <a href="https://twitter.com/search?q=%23{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}

  <a href="/blog.html" class="back">&larr; Back to main blog index</a>
  <article>
  <h2>{{ page.title }}</h2>
  <div>
    {{ content }}
  </div>
  </article>
  <a href="/blog.html" class="back">&larr; Back to main blog index</a>
</div>
